body {
  font-family: Helvetica, arial;
}

h1 {
  color: black;
  text-align: center;
  font-family: Helvetica, arial;
  font-size: 40em;
  background-color: DarkViolet;
}

h2 {
  font-size: 25em;
  font-family: Helvetica, arial;
  text-align: center;

}

h3 {
  font-size: 20em;
  text-align: center;
  text-decoration: underline;

}

h4 {
  font-size: 22em;
  text-align: center;
}

p {
  font-family: Helvetica, arial;
  text-align: center;
  color: black;
}
switch {
  /* text-align: right; */

}
