html {
    background-color: rgb(238, 238, 238) !important;
}

nav, .btn-floating {
    background-color: rgb(175, 52, 180) !important;
}

.btn {
    background-color: rgb(214, 215, 215);
    color: rgb(0, 0, 0);
}

.btn:hover {
    background-color: rgb(223, 223, 223);
}