body {
  font-family: Helvetica, arial;
}

html, .collection-item {
    background-color: rgb(238, 238, 238) !important;
}

h1 {
  color: yellow;
  text-align: center;
  font-family: Helvetica, arial;
  font-size: 3em;
  background-color: DarkViolet;
}

h2 {
  font-size: 4em;
  font-family: Helvetica, arial;
  text-align: center;

}

h3 {
  font-size: 20em;
  text-align: center;
  text-decoration: underline;

}

h4 {
  font-size: 22em;
  text-align: center;
}

p {
  font-family: Helvetica, arial;
  text-align: center;
  color: black;
}
#fixedbutton {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 80px;
    height: 80px;
}
.nav-wrapper {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

nav {
    background-color: rgb(175, 52, 180);
}
