html {
    background-color: rgb(238, 238, 238) !important;
}

nav {
    background-color: rgb(175, 52, 180);
}

h1 {
  color: yellow;
  text-align: center;
  font-family: Helvetica, arial;
  font-size: 3em;
  background-color: DarkViolet;
}

h2 {
  font-size: 4em;
  font-family: Helvetica, arial;
  text-align: center;

}

h3 {
  font-size: 20em;
  text-align: center;
  text-decoration: underline;

}

h4 {
  font-size: 22em;
  text-align: center;
}

p {
  text-align: center;
  color: black;
}

